.venv
.idea
__pycache__
.env
.gitignore
client/data/database_snapshot.db
/server/data/
/server/logs/
server/app/wake-pc.sh
server/travel.db
server/app/logs/
.vscode/
/client/enrichment/.cache.sqlite
/client/.cache.sqlite
/client/weather_data.csv
/server/wake-pc.sh
/logs
server/restore_db.sh
server/runcron.sh
server/build.sh
