UPLOAD_TOKEN=dummy
OVERLAND_TOKEN=dummy
COMPUTE_HOST=localhost
COMPUTE_PORT=22
COMPUTE_USERNAME=dummy
COMPUTE_PASSWORD=dummy
CUSTOM_NOTIFICATION_TIME_SENSITIVE=https://example.com
CUSTOM_NOTIFICATION_NOT_TIME_SENSITIVE=https://example.com
WARNING_NOTIFICATION=https://example.com
ERROR_NOTIFICATION=https://example.com
JOURNAL_NOTIFICATION=https://example.com
FX_API_KEY=dummy
WOL_HOST=localhost
WOL_API_KEY=dummy
GITHUB_PUBLIC_STATS_TOKEN=dummy
GITHUB_REPO=owner/repo
ALERT_SMTP_HOST=smtp.example.com
ALERT_SMTP_PORT=587
ALERT_SMTP_USERNAME=dummy@example.com
ALERT_EMAIL_SENDER=dummy@example.com
ALERT_EMAIL_PASSWORD=dummy
ALERT_EMAIL_RECIPIENT=dummy@example.com
