# ---------------------------------------------------------------------------
# API keys
# ---------------------------------------------------------------------------
UPLOAD_TOKEN=dummy # TravelNet
FX_API_KEY=dummy # exchangerate.host
WATCHDOG_TOKEN=dummy # Watchdog
OVERLAND_TOKEN=dummy # Overland


# ---------------------------------------------------------------------------
# Notifications
# ---------------------------------------------------------------------------
CUSTOM_NOTIFICATION_TIME_SENSITIVE=api.pushcut.io
CUSTOM_NOTIFICATION_NOT_TIME_SENSITIVE=api.pushcut.io
WARNING_NOTIFICATION=api.pushcut.io
ERROR_NOTIFICATION=api.pushcut.io
JOURNAL_NOTIFICATION=api.pushcut.io
LABEL_KNOWN_PLACE_NOTIFICATION=api.pushcut.io


# ---------------------------------------------------------------------------
# Email/SMTP
# ---------------------------------------------------------------------------
ALERT_SMTP_HOST="smtp.gmail.com"
ALERT_SMTP_PORT="587"
ALERT_SMTP_USERNAME=dummy
ALERT_EMAIL_SENDER=dummy
ALERT_EMAIL_PASSWORD=dummy
ALERT_EMAIL_RECIPIENT=dummy


# ---------------------------------------------------------------------------
# Dashboard
# ---------------------------------------------------------------------------
DASHBOARD_PASSWORD=dummy
FLASK_SECRET_KEY=dummy
DASHBOARD_TOKEN=dummy


# ---------------------------------------------------------------------------
# Github
# ---------------------------------------------------------------------------
GITHUB_PUBLIC_STATS_TOKEN=dummy
GITHUB_REPO=user/repo


# ---------------------------------------------------------------------------
# PC/Compute
# ---------------------------------------------------------------------------
WOL_HOST=tail.ts.net # IP of small WoL service 
WOL_API_KEY=dummy
PC_MAC=dummy
COMPUTE_HOST=dummy
COMPUTE_PORT=22
COMPUTE_USERNAME=dummy
COMPUTE_PASSWORD=dummy


# ---------------------------------------------------------------------------
# Trevor
# ---------------------------------------------------------------------------
TREVOR_API_KEY=dummy # Used by Dashboard to talk to Trevor


# ---------------------------------------------------------------------------
# Misc
# ---------------------------------------------------------------------------
SHELLY_IP=192.168.0.0 # IP of smart plug for power usage stats
WATCHDOG_MAINTENANCE_URL="http://watch.dog/"


# ---------------------------------------------------------------------------
# LLM / OpenAI
# ---------------------------------------------------------------------------
OPENAI_API_KEY=dummy
OPENAI_MODEL=gpt-5.4-nano

# ---------------------------------------------------------------------------
# Database Restore (R2/S3 Cloudflare)
# ---------------------------------------------------------------------------
AGE_KEY_PATH="/path/to/.age_key"
RCLONE_REMOTE="remote"
RCLONE_BUCKET="bucket"