fastapi
uvicorn[standard]
python-multipart
pandas
yarl
requests
pytest
pydantic
pydantic-settings
babel
numpy
scikit-learn
slowapi==0.1.9
pyyaml
wakeonlan
paramiko
timezonefinder
tzdata>=2024.1
airportsdata
prefect